body {
    font-family: Display, sans-serif;
    background-color: palevioletred;
    padding-top: 120px;
}

img {
    position: relative;
    left: 200px;
    height: auto;
    max-width: 100%;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 70%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
}

tr:nth-child(even) th {
    background-color: gray;
}

tr:nth-child(odd) th {
    background-color: white;
}

.footerClass {
    background-color: #3e3e3e;
    position: fixed;
    top: 0;
    left: 0;
}
