body {
    font-family: Handwriting, fantasy;
    background-color: plum;
}

img {
    height: auto;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
}

th {
    background-color: #0a66c2;
}
